.sideBarContainer{
    width: 100px;
    height: 91.4vh;

    position: absolute;
    right: 0;
    top: 78.5px;

    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 20px;

    color: black;

    padding-top: 10px;
}
