.headerContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px 30px 10px 30px;

    background-color: white;
}
.headerContainer img{
    width: 40px;
}
.headerContainer h1 {
    color: rgb(0, 0, 0);

    font-size: 24px;
}